* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #222;
}

.main {
    margin: 1.5rem;
}

h1 {
    color: rgba(255, 255, 255, 0.776);
}

.main > input[type="text"] {
    background-color: rgba(255, 255, 255, 0.776);
    border: none;
    outline: none;
    padding: 0.2rem 0.5rem;
    border-radius: 2px;
    margin: 0.5rem 0 0 0.5rem;
}

.main > input[type="text"]:focus {
    border: 1.5px solid rgba(94, 94, 94, 0.486);
}

#counter {
    color: red;
}